<div class="container table_container balancesheetheader table-container-width no-padding-hr" ng-class="{'isSearchHeaderSectionHeightInBalanceSheet':!isSearched}">
    <div class="row no-margin-hr">
        <div class="col-md-12 no-padding-hr">
            <ul ng-repeat="rootgroup in rgroupelements" class="list-styles no-padding-hr">
                <li class="custom-content-border listheightvalues " ng-if="rootgroup.rootgroup_id < 3">
                    <span class="text-name">{{rootgroup.name}} &#58;</span>
                    <span class="text-value">{{(rootgroup.sum_amt) | INRCurrency}}</span>
                </li>
                <ul ng-repeat="ledgergroup in rootgroup.group" ng-if="rootgroup.rootgroup_id < 3" class="list-styles no-padding-hr">
                    <li class="custom-content-border sub-listheightvalues actionsmenu" ng-click="groupElements(ledgergroup.display_name, ledgergroup.amt, rootgroup.name, ledgergroup.ledgergroup_id, ledgergroup.rootgroup_id, rootgroup.diff)" on-hold="favouriteSelection(ledgergroup.display_name, ledgergroup.ledgergroup_id, 'G')">
                        <span class="sublist-text-name">{{ledgergroup.display_name}}</span>
                        <span class="sublist-text-value">{{ledgergroup.amt| INRCurrency}}</span>
                    </li>
                </ul>
                <li class="custom-content-border listheightvalues" ng-if="rootgroup.rootgroup_id == 3">
                    <span class="text-name">{{rootgroup.name}} &#58;</span>
                    <span class="text-value">{{(rootgroup.sum_amt) | INRCurrency}}</span>
                </li>
                <ul ng-repeat="ledgergroup in rootgroup.group" ng-if="rootgroup.rootgroup_id == 3" class="list-styles no-padding-hr actionsmenu">
                    <li class="custom-content-border sub-listheightvalues" ng-click="groupElements(ledgergroup.display_name, ledgergroup.amt, rootgroup.name, ledgergroup.ledgergroup_id, ledgergroup.rootgroup_id, rootgroup.diff)" on-hold="favouriteSelection(ledgergroup.display_name, ledgergroup.ledgergroup_id, 'G')">
                        <span class="sublist-text-name">{{ledgergroup.display_name}}</span>
                        <span class="sublist-text-value">{{ledgergroup.amt| INRCurrency}}</span>
                    </li>
                </ul>
                <li class="custom-content-border listheightvalues" ng-if="rootgroup.rootgroup_id > 3">
                    <span class="text-name">{{rootgroup.name}} &#58;</span>
                    <span class="text-value">{{(rootgroup.sum_amt) | INRCurrency}}</span>
                </li>
                <ul ng-repeat="ledgergroup in rootgroup.group" ng-if="rootgroup.rootgroup_id > 3" class="list-styles no-padding-hr">
                    <li class="custom-content-border sub-listheightvalues actionsmenu" ng-click="groupElements(ledgergroup.display_name, ledgergroup.amt, rootgroup.name, ledgergroup.ledgergroup_id, ledgergroup.rootgroup_id, rootgroup.diff)" on-hold="favouriteSelection(ledgergroup.display_name, ledgergroup.ledgergroup_id, 'G')">
                        <span class="sublist-text-name">{{ledgergroup.display_name}}</span>
                        <span class="sublist-text-value">{{ledgergroup.amt| INRCurrency}}</span>
                    </li>
                </ul>
                <li class="custom-content-border sub-listheightvalues " ng-if="rootgroup.rootgroup_id > 3 && rootgroup.diff >= 0">
                    <span class="sublist-text">Profit for the year &#58;</span>
                    <span class="sublist-text-value">{{(rootgroup.diff) | INRCurrency}}</span>
                </li>
                <li class="custom-content-border sub-listheightvalues " ng-if="rootgroup.rootgroup_id > 3 && rootgroup.diff < 0">
                    <span class="sublist-text">Loss for the year &#58;</span>
                    <span class="sublist-text-value">{{(-1 * rootgroup.diff) | INRCurrency}}</span>
                </li>
            </ul>
        </div>
    </div>

</div>

<div class="alert  alert-position-success" id="success-alert" style="display:none;">
    <strong>{{msg}}</strong>
</div>
<div ng-show="loading" class="load text-center ">
    <img class="spinner " src="images/ajax-loader.gif " width="60" height="60 ">
    <h4 class="loading_msg ">Loading Please Wait...</h4>
</div>
