<div id="company" class="tab-pane ">
    <div class="container table_container table-container-width no-padding-hr">
        <div class="row no-margin-hr">
            <h3 class="no-margin pull-left">Companies <span class="glyphicon glyphicon-refresh refresh-size" aria-hidden="true" ng-click="getallcompanysdata()"></span></h3>
            <button type="button" class="btn btn-md pull-right postions-search" ng-click="search()"><span class="glyphicon glyphicon-search"></span></button>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table ng-table=" multiclient" class="table table-bordered client-table " show-filter="searchEnable">
                    <tr ng-repeat="user in $data " ng-class="{ 'disablerow': user.status==='N' } ">
                        <td class="accType " title=" 'Company Name' " filter="{name: 'text'}" sortable=" 'tenant_name' " class="sort-indicator ">
                            <div class="row ">
                                <div class="col-md-11 ">
                                    <a class="tbl-link main-field " ng-click="access(user) ">{{user.tenant_name}}<span ng-show="user.status=='I' " class="inactiveshow ">(Inactive)</span></a>
                                    <span class="subfield-text ">{{user.email}}  {{user.mobile}}</span>
                                </div>
                            </div>
                        </td>
                        <td class="accType vertical-center colors pointer-cur " ng-click="access(user) " title=" 'Locations' " filter="{locations: 'number'} " sortable=" 'locations' ">
                            {{user.locations}}</td>
                        <td class="accType vertical-center " title=" 'Package' " filter="{ package_name: 'text'} " sortable=" 'package_name' ">
                            {{user.package_name}}</td>
                        <!-- <td class="accType " title=" 'E-mail' " filter="{ email: 'text'} " sortable=" 'email' ">
                            {{user.email}}</td>
                        <td class="accType " title=" 'Phone' " filter="{ phone_number: 'text'} " sortable=" 'phone_number' ">
                            {{user.mobile}}</td> -->
                        <!-- <td class="accType " title=" 'Status' " filter="{ status: 'text'} " sortable=" 'status' ">
                            <label class="text-success " ng-if="user.status=='A' ">Active</label>
                            <label class="text-danger " ng-if="user.status=='I' ">Inactive</label>
                            <label class="text-danger " ng-if="user.status=='N' ">Not Created</label></td> -->
                        <td class="accType vertical-center actions ">
                            <div class="dropdown">
                                <a style="text-decoration: none; cursor:pointer; " class="tbl-link dropdown-toggle colors " id="dropdownMenuhideshow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-class="{ 'noevnts-actions':
                permissions(user)} ">Actions<span class="glyphicon glyphicon-chevron-down down-up-arrows" aria-hidden="true"></span></a>
                                <ul class="dropdown-menu actions-view " aria-labelledby="dropdownMenuhideshow ">
                                    <li class="actionsmenu "><a data-toggle="modal" data-target="#edit_client " ng-click="editClient(user) ">Edit</a> </li>
                                    <li class="actionsmenu "><a ng-click="backup(user)">Backup</a></li>
                                    <li class="actionsmenu "><a ng-click="smssettingsclick(user)">SMS Settings</a></li>
                                    <li class="actionsmenu "><a ng-click="upgradeClick(user, $index)">Upgrade</a></li>
                                </ul>
                            </div>
                            <div class="row restoreshow " ng-show="pricing_index===$index " outside-click="hideSideMenu($index) ">
                                <div class="col-md-12 " style="padding:3px; " ng-repeat="price in pricings " id="clientsdata ">
                                    <button class="btn btn-block company-button-show " ng-click="priceingclick(price.id) ">{{price.name}}</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-position-success " id="success-alert " style="display:none; ">
    <strong>{{msg}}</strong>
</div>
<div ng-show="loading" class="load text-center ">
    <img class="spinner " src="images/ajax-loader.gif " width="60 " height="60 ">
    <h4 class="loading_msg ">Loading Please Wait...</h4>
</div>
<div id="deleteModal" class="modal fade " data-backdrop="static " data-keyboard="false " role="dialog ">
    <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content logout_modal_width ">
            <div class="modal-body text-center delete_modal ">
                <h2 class="h ">Are you sure you want to Delete {{props.tenant_name}} company?</h2>
            </div>
            <div class="modal-footer">
                <div class="row ">
                    <div class="col-md-4 ">
                        <button type="button " class="btn background-defalt save-cancel-button " data-dismiss="modal">No</button>
                        <button type="button " class="btn background-defalt save-cancel-button " data-dismiss="modal" ng-click="deleteclient(props.id) ">Yes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="add_client" class="modal fade " data-backdrop="static " data-keyboard="false " role="dialog ">
    <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content mdl-margin ">
            <div class="modal-header no-padding-vr-bottom ">
                <button type="button " class="close " data-dismiss="modal " ng-click="cancelForm() ">&times;</button>
                <h1 class="modal-title ">Add Company</h1>
                <div class="row no-margin-hr ">
                    <div class="col-md-12 no-padding-hr ">
                        <label class="pull-right "><input type="checkbox" ng-model="props.isActive" ng-init="props.isActive=true"><span> Active</span></label>
                    </div>
                </div>
            </div>
            <div class="modal-body no-padding-vr-bottom ">
                <form class="form-horizontal " role="form " name="addClientForm " id="addClientForm ">
                    <div class="row no-margin-hr ">
                        <div class="col-md-12 form-group no-padding-hr ">
                            <div class="col-md-4 required ">
                                <label class="mdl_label control-label " autofocus="none ">Company Name<span>:</span><span class="astrick-label glyphicon glyphicon-asterisk "></span></label>
                            </div>
                            <div class="col-md-8 no-padding-hr ">
                                <input type="text " ng-class="{ 'haserror':field===fields.companyname} " class="form-control req-field-color " placeholder="Enter the Company name " name="companyname " required="required " ng-model="props.company_name
                " ng-change="fieldschangeAction() ">
                            </div>
                        </div>
                        <div class="col-md-12 form-group no-padding-hr ">
                            <div class="col-md-4 required ">
                                <label class="mdl_label control-label " autofocus="none ">Contact Name<span>:</span><span class="astrick-label glyphicon glyphicon-asterisk "></span></label>
                            </div>
                            <div class="col-md-8 no-padding-hr ">
                                <input type="text " ng-class="{ 'haserror':field===fields.contactname} " class="form-control req-field-color " placeholder="Enter the Contact Name " name="contactname " required="required " ng-model="props.contact_name
                " ng-change="fieldschangeAction() ">
                            </div>
                        </div>
                        <div class="col-md-12 form-group no-padding-hr ">
                            <div class="col-md-4 required ">
                                <label class="mdl_label control-label " autofocus="none ">Company Phone<span>:</span><span class="astrick-label glyphicon glyphicon-asterisk "></span></label>
                            </div>
                            <div class="col-md-8 no-padding-hr ">
                                <input type="text " ng-class="{ 'haserror':field===fields.companyphone} " class="form-control req-field-color " placeholder="10 digit mobile number " name="mobile " required="required " ng-model="props.mobile
                " ng-change="fieldschangeAction() " mobile-validation maxlength="10 ">
                            </div>
                        </div>
                        <div class="col-md-12 form-group no-padding-hr ">
                            <div class="col-md-4 required ">
                                <label class="mdl_label control-label " autofocus="none ">Company Email<span>:</span><span class="astrick-label glyphicon glyphicon-asterisk "></span></label>
                            </div>
                            <div class="col-md-8 no-padding-hr ">
                                <input type="text " ng-class="{ 'haserror':field===fields.companyemail} " class="form-control req-field-color " placeholder="Enter the company email " name="email " required="required " ng-model="props.email
                " ng-change="fieldschangeAction() ">
                            </div>
                        </div>
                        <div class="col-md-12 form-group no-padding-hr ">
                            <div class="col-md-offset-4 required ">
                                <label class="col-md-12 no-padding-hr "><input type="checkbox" ng-model="props.multicolumn " class="checkboxspace ">Multi column voucher</label>
                            </div>
                        </div>
                        <!-- <div class="col-md-12 form-group no-padding-hr ">
                            <div class="col-md-4 required ">
                                <label class="mdl_label control-label " autofocus="none ">Confirm Password<span>:</span></label>
                            </div>
                            <div class="col-md-8 no-padding-hr ">
                                <input type="password " class="form-control " placeholder="Enter the Confirm password " name="Confirmpassword " required="required " ng-model="props.confirm_password " ng-change="dnsName() ">
                            </div>
                        </div> -->
                        <div ng-show="showerrormessage " class="col-md-12 no-padding-hr form-group ">
                            <div class="no-padding-hr col-md-offset-4 col-md-8 ">
                                <span style="color:#EF5F5F ">{{errormessage}}</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer no-margin-hr ">
                <div class="row no-margin-hr ">
                    <div class="col-md-5 pull-right no-padding-hr ">
                        <button type="button " class="btn background-defalt save-cancel-button " ng-click="cancelForm()">Cancel</button>
                        <button type="button " class="btn background-defalt save-cancel-button tabicon " ng-click="addCompanys()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="edit_client" class="modal fade " data-backdrop="static " data-keyboard="false " role="dialog ">
    <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content mdl-margin ">
            <div class="modal-header no-padding-vr-bottom ">
                <button type="button " class="close " data-dismiss="modal " ng-click="editcancelForm() ">&times;</button>
                <h1 class="modal-title ">Edit Company</h1>
                <div class="row no-margin-hr ">
                    <div class="col-md-12 no-padding-hr ">
                        <label class="pull-right "><input type="checkbox" ng-model="props.isActive "><span> Active</span></label>
                    </div>
                </div>
            </div>
            <div class="modal-body no-padding-vr-bottom ">
                <form class="form-horizontal " role="form " name="editClientForm " id="editClientForm ">
                    <div class="row no-margin-hr ">
                        <div class="col-md-12 form-group no-padding-hr ">
                            <div class="col-md-4 required ">
                                <label class="mdl_label control-label " autofocus="none ">Company Name<span>:</span><span class="astrick-label glyphicon glyphicon-asterisk "></span></label>
                            </div>
                            <div class="col-md-8 no-padding-hr ">
                                <input type="text " ng-class="{ 'haserror':field===fields.companyname} " class="form-control req-field-color " placeholder="Enter the Company name " name="companyname " required="required " ng-model="props.company_name
                " ng-change="fieldschangeAction() ">
                            </div>
                        </div>
                        <div class="col-md-12 form-group no-padding-hr ">
                            <div class="col-md-4 required ">
                                <label class="mdl_label control-label " autofocus="none ">Contact Name<span>:</span><span class="astrick-label glyphicon glyphicon-asterisk "></span></label>
                            </div>
                            <div class="col-md-8 no-padding-hr ">
                                <input type="text " ng-class="{ 'haserror':field===fields.contactname} " class="form-control req-field-color " placeholder="Enter the Contact Name " name="contactname " required="required " ng-model="props.contact_name
                " ng-change="fieldschangeAction() ">
                            </div>
                        </div>
                        <div class="col-md-12 form-group no-padding-hr ">
                            <div class="col-md-4 required ">
                                <label class="mdl_label control-label " autofocus="none ">Company Phone<span>:</span><span class="astrick-label glyphicon glyphicon-asterisk "></span></label>
                            </div>
                            <div class="col-md-8 no-padding-hr ">
                            <input type="text " ng-class="{ 'haserror':field===fields.companyphone} " class="form-control req-field-color " placeholder="10 digit mobile number " name="mobile " required="required " ng-model="props.mobile
                " ng-change="fieldschangeAction() " mobile-validation maxlength="10 ">
                            </div>
                        </div>
                        <div class="col-md-12 form-group no-padding-hr ">
                            <div class="col-md-4 required ">
                                <label class="mdl_label control-label " autofocus="none ">Company Email<span>:</span><span class="astrick-label glyphicon glyphicon-asterisk "></span></label>
                            </div>
                            <div class="col-md-8 no-padding-hr ">
                           <input type="text " ng-class="{ 'haserror':field===fields.companyemail} " class="form-control req-field-color " placeholder="Enter the company email " name="email " required="required " ng-model="props.email
                " ng-change="fieldschangeAction() ">
                            </div>
                        </div>
                        <div class="col-md-12 form-group no-padding-hr ">
                            <div class="col-md-offset-4 ">
                                <label class="col-md-12 no-padding-hr "><input type="checkbox" ng-model="props.multicolumn " class="checkboxspace ">Multi column voucher</label>
                            </div>
                        </div>
                        <div ng-show="showerrormessage " class="col-md-12 no-padding-hr form-group ">
                            <div class="no-padding-hr col-md-offset-4 col-md-8 ">
                                <span style="color:#EF5F5F ">{{errormessage}}</span>
                            </div>
                        </div>
                        <!-- <div class="col-md-12 form-group no-padding-hr ">
                            <div class="col-md-4 required ">
                                <label class="mdl_label control-label " autofocus="none ">Password<span>:</span></label>
                            </div>
                            <div class="col-md-8 no-padding-hr ">
                                <input type="password " class="form-control " readonly="true " placeholder="Enter the password " name="password " required="required " ng-model="props.password " ng-change="dnsName() ">
                            </div>
                        </div>
                        <div class="col-md-12 form-group no-padding-hr ">
                            <div class="col-md-4 required ">
                                <label class="mdl_label control-label " autofocus="none ">Confirm Password<span>:</span></label>
                            </div>
                            <div class="col-md-8 no-padding-hr ">
                                <input type="password " class="form-control " readonly="true " placeholder="Enter the Confirm password " name="Confirmpassword " required="required " ng-model="props.confirm_password " ng-change="dnsName() ">
                            </div>
                        </div> -->
                    </div>
                </form>
            </div>
            <div class="modal-footer ">
                <div class="row no-margin-hr ">
                    <div class="pull-left margin-left ">
                        <button type="button " class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" ng-click="deletemodelshow()">Delete</button>
                    </div>
                    <div class="col-md-5 pull-right no-padding-hr">
                        <button type="button " class="btn background-defalt save-cancel-button " ng-click="editcancelForm()">Cancel</button>
                        <button type="button " class="btn background-defalt save-cancel-button tabicon " ng-click="editingCompany()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="smsModal" class="modal fade " data-backdrop="static " data-keyboard="false " role="dialog " role="dialog ">
    <div class="modal-dialog ">
        <div class="modal-content mdl-margin ">
            <div class="modal-header no-padding-vr-bottom ">
                <button type="button " class="close " data-dismiss="modal " ng-click="cancelForm() ">&times;</button>
                <h1 class="modal-title ">Sms Settings</h1>
            </div>
            <div class="modal-body no-padding-vr-bottom ">
                <div class="row no-margin-hr ">
                    <div class="col-md-12 no-padding-hr border ">
                        <div class="col-md-12 no-padding-hr padding-line ">
                            <label class="col-md-12 ">Desktop:</label>
                            <label class="col-md-offset-1 col-md-11 "><input  type="checkbox" ng-model="smsfor_receipt" class="checkboxspace">{{smssettings[0].name}}</label>
                            <label class="col-md-offset-1 col-md-11 "><input type="checkbox" ng-model="smsfor_payment" class="checkboxspace">{{smssettings[1].name}}</label>
                        </div>
                        <div class="col-md-12 no-padding-hr padding-line ">
                            <label class="col-md-12 ">Mobile:</label>
                            <label class="col-md-offset-1 col-md-11 "><input type="checkbox" ng-model="smsfor_mobile_receipt" class="checkboxspace">{{smssettings[2].name}}</label>
                            <label class="col-md-offset-1 col-md-11 "><input type="checkbox" ng-model="smsfor_mobile_payment" class="checkboxspace">{{smssettings[3].name}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <div class="row no-margin-hr ">
                    <div class="col-md-5 pull-right no-padding-hr ">
                        <button type="button" class="btn background-defalt save-cancel-button" ng-click="historyDetails()" data-dismiss="modal">History</button>
                        <button type="button" class="btn background-defalt save-cancel-button " data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn background-defalt save-cancel-button tabicon " ng-click="saveSmsSettingtoSever()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="smshistory" class="modal fade " data-backdrop="static " data-keyboard="false ">
    <div class="modal-dialog ">
        <div class="modal-content mdl-margin ">
            <div class="modal-header no-padding-vr-bottom ">
                <button type="button " class="close " data-dismiss="modal ">&times;</button>
                <h2 class="modal-title ">Sms History</h2>
            </div>
            <div class="modal-body no-padding-vr-bottom ">
                <div class="row no-margin-hr ">
                    <div class="col-md-12 ">
                        <table ng-table="smshistorytable " class="table table-bordered smshistorytable ">
                            <tr ng-repeat="user in $data ">
                                <td class="vertical-center " title=" 'Date' " sortable=" 'date' ">
                                    {{user.date}}</td>
                                <td class="vertical-center " title=" 'Name' " sortable=" 'name' ">
                                    {{user.name}}</td>
                                <td class="vertical-center " title=" 'Update details' " sortable=" 'comment' ">
                                    {{user.comment}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <div class="row no-margin-hr ">
                </div>
            </div>

        </div>
    </div>
</div>
