<div class="container table_container table-container-width no-padding-hr" ng-class="{'isSearchHeaderSectionHeightInBalanceSheet':!isSearched}">
    <div class="row no-margin-hr">
        <div class="col-md-12 no-padding-hr">
            <ul class="list-styles no-padding-hr">
                <li ng-if="!isSearched" class="listheightvalues">
                    <span class="text-name">{{props.ledger_name}} &#58;</span>
                    <span class="text-value">{{ledger_amt| INRCurrency}}</span>
                </li>
                <li ng-if="isSearched" class="listheightvalues">
                    <span class="text-name">{{props.ledger_name}} &#58;</span>
                    <span class="text-value">{{ledger_amt| INRCurrency}}</span>
                </li>
                <li class="custom-content-border sub-listheightvalues actionsmenu" ng-repeat="ltypes in ltypselements" ng-click="voucherSelection(ltypes.display_name, ltypes.amount, ltypes.ltype, ltypes.gl_id, ltypes.sl_id, ltypes.rootgroup_id)" on-hold="favouriteSelection(ltypes.display_name, ltypes.gl_id, ltypes.ltype)">
                    <span class="sublist-text-name">{{ltypes.display_name}}</span>
                    <span class="sublist-text-value">{{(ltypes.amount) | INRCurrency}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="alert  alert-position-success" id="success-alert" style="display:none;">
    <strong>{{msg}}</strong>
</div>
<div ng-show="loading" class="load text-center ">
    <img class="spinner " src="images/ajax-loader.gif " width="60" height="60 ">
    <h4 class="loading_msg ">Loading Please Wait...</h4>
</div>