<div id="downloads">
    <div class="container table_container table-container-width no-padding-hr">
        <div class="row no-margin-hr">
            <h3 class="no-margin pull-left">Downloads</h3>
            <button type="button" class="btn btn-md pull-right postions-search"></button>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table ng-table="downloadsTable" class="table table-bordered client-table">
                        <tr ng-repeat="user in downloadsList">
                            <td class="accType" title="'Icon'">
                                <div class="row">
                                    <div class="col-md-11">
                                        <!-- <a class="main-field">{{user.name}}</a> -->
                                        <img src="{{user.icon}}" alt="icon"></img>
                                    </div>
                                </div>
                            </td>
                            <td class="accType vertical-center" title="'App Name'">
                                <div>
                                    <a class="main-field" ng-click="openUrl(user.url)">{{user.name}}</a>
                                    <!-- <a style="cursor:pointer" ng-click="openUrl(user.url)">{{user.url}}</a> -->
                                </div>
                            </td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>