<header class="m-header-fixed" ng-controller="headerCntl">
    <div class="col-sm-12 col-xs-12 no-padding-hr m-header-background ">
        <img ng-click="openNav()" ng-show="!moreIconShow" style="margin:13px;float:left;"src="images/menu_mobile.png" alt="logo" />
        <img ng-click="backButtonAction()" ng-show="moreIconShow"  style="margin:13px;float:left;"src="images/back_arrow_mobile.png" alt="logo" />
        <div id="headerTitleTextSize" class="m-header-text">
          <span style="display:block;" class="m-font-size-companyName m-header-text-color m-text-overflow-header">{{screenName}}</span>
          <span style="display:block;" class="m-header-text-color m-text-overflow-header">{{selected_company_name}}</span>
        </div>
        <div class="pull-right" style="margin-top:13px; margin-right:6px;" ng-show="moreIconShow">
          <a><img id="more-logo" src="images/ic_more_vert.png" alt="more" ng-click="popovershow()" /></a>
        </div>
        <div class="pull-right" style="margin:11px;">
        <a><img id="more-logo" src="images/search_mobile.png" alt="more" ng-click="searchAction()" /></a>
        </div>
        <div id="transparentView" class="transparentView" ng-click="closeNav()">
        </div>
        <div id="mySidenav" class="sidenav">
            <div class="m-usertabmenu">
                <div style="padding:10px;">
                    <img id="m-logo" src="images/user-icon.png" height="70px" alt="logo" />
                    <img class="pull-right" ng-click="closeNav()" src="images/ic_close_white.png"/>
                </div>
                <div style="text-align:left;padding-left:15px;">
                    <span class="m-loggedinuser">{{name}}</span>
                    <span class="m-loggedinuser">{{mobile}}</span>
                </div>
            </div>
            <a style="font-size:23px;" ng-click="homeAction()">Companies</a>
            <a style="font-size:23px;" ng-click="locationsPageAction()">Locations</a>
            <a style="font-size:23px;" ng-click="balanceSheetAction()">Over all balance sheet</a>
            <a style="font-size:23px;" ng-click="profitAndLossAction()">Over all P & L</a>
            <a style="font-size:23px;" ng-click="usersPageAction()">Directory</a>
            <a style="font-size:23px;" ng-click="clientLogout()">Logout</a>
        </div>
        <div id="popOverTransparentView" class="transparentView" ng-click="popoverhide()">
        </div>
        <div id="popOverView" class="m-popOverView">
          <a class="m-popOverText-Align" ng-click="datemodelmobileshow()">Dates</a>
          <a class="m-popOverText-Align" ng-click="getalllocationinmobileheader()">Locations</a>
          <a class="m-popOverText-Align" ng-show="pandlreport" ng-click="balancesheetPopOverAction('balance')">Balance Sheet</a>
          <a class="m-popOverText-Align" ng-show="!pandlreport" ng-click="balancesheetPopOverAction('profit')">Profit & Loss</a>
          <a class="m-popOverText-Align" ng-click="clientLogout()">Logout</a>
        </div>
    </div>
</header>
<div class="modal fade col-xs-12" id="selectmobiledatedahboard" role="dialog">
    <div class="modal-dialog" style="width:270px; margin:auto; top:20%">
        <div class="modal-content">
            <div class="modal-header mbaldate">
                <span class="asOnDate">As on date ?</span>
            </div>
            <div class="modal-header no-padding mpandldate">
              <ul  class="nav nav-pills">
                    <li class="mFromDateTab" >
                        <a  data-target="#fromDateCal" data-toggle="tab">from</a>
                    </li>
                    <li class="mToDateTab">
                        <a data-target="#toDateCal" data-toggle="tab">to</a>
                    </li>
                </ul>
            </div>
            <div class="modal-body">
                <div class="tab-content clearfix" style="width:250px">
                    <div class="tab-pane active" id="fromDateCal">
                        <div class="col-sm-12 col-xs-12" id="datetimepickermobiledashboardfrom">
                        </div>
                    </div>
                    <div class="tab-pane" id="toDateCal">
                        <div class="col-sm-12 col-xs-12" id="datetimepickermobiledashboardto">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn background-defalt save-cancel-button" data-dismiss="modal" ng-click="cancelForm()">Cancel</button>
                    <button id="saveformobiledashboard" type="button" class="btn background-defalt save-cancel-button tabicon " ng-click="saveformobiledashboard()">Save</button>
            </div>
        </div>

    </div>
 </div>
<div id="locationListInHeader" class="modal fade " data-backdrop="static " data-keyboard="false " role="dialog" ng-controller="headerCntl">
      <div class="modal-dialog location-modal-size">
                  <div class="modal-content mdl-margin">
                        <div class="modal-header no-padding-vr-bottom" >
                            <button style="margin-top:0;" type="button" class="close pull-right" data-dismiss="modal" ng-click="cancelForm()">&times;</button>
                            <h3 style="margin:-5px 0 8px;" class="modal-title pull-left">Select Location</h3>
                        </div>
                        <div class="modal-body no-padding-vr-bottom">
                            <div class="row no-margin-hr">
                                <div class="col-md-12 form-group no-padding-hr">
                                <ul class="locationlist">
                                  <li class="actionsmenu" ng-click="locationValueChangeforall()"><a class="m-location-list-text-dispaly">All Locations</a></li>
                                  <li ng-repeat="location in locationsMobileListInHeader" class="actionsmenu" ng-click="locationValueChange(location)">
                                    <a class="m-location-list-text-dispaly">{{location.display_name}}</a>
                                  </li>
                                </ul>
                                </div>
                            </div>
                       </div>
                  </div>
          </div>
  </div>
