<header class="m-header-fixed" ng-controller="headerCntl">
    <div class="col-sm-12 col-xs-12 no-padding-hr m-header-background ">
        <img ng-click="openNav()" src="images/menu.png" alt="logo" height="45" />
        <span class="m-font-size-companyName m-header-text-color">{{screenName}}</span>
        <span style="margin-left:50px;display:block;margin-top:-15px;" class="m-header-text-color">{{selected_company_name}}</span>
        <div id="transparentView" class="transparentView" ng-click="closeNav()">
        </div>
        <div id="mySidenav" class="sidenav">
            <div class="m.usertabmenu">
                <div style="padding:10px;">
                    <img id="m-logo" src="images/user-icon.png" height="70px" alt="logo" />
                </div>
                <div style="text-align: left;padding-left:15px;">
                    <span class="m-loggedinuser">{{name}}</span>
                    <span class="m-loggedinuser">{{mobile}}</span>
                </div>
            </div>
            <a style="font-size:23px;" ng-click="homeAction()">Home</a>
            <a style="font-size:23px;" ng-click="balanceSheetAction()">Balance Sheet</a>
            <a style="font-size:23px;" ng-click="profitAndLossAction()">Profit & Loss Statment</a>
            <a style="font-size:23px;" ng-click="usersPageAction()">Directory</a>
            <a style="font-size:23px;" ng-click="locationsPageAction()">Locations</a>
            <a style="font-size:23px;" ng-click="clientLogout()">Logout</a>
        </div>
    </div>
</header>