<!-- <header class="m-header-fixed">
    <div class="col-sm-12 col-xs-12 no-padding-hr m-header-background">
        <div class="pull-left display-cell-header back-alignment" style="margin-right:10px;">
            <img src="images/left-white.png" ng-click="mobilebackButtonAction()">
        </div>
        <span class="m-font-size-companyName m-header-text-color">Locations</span>
        <span style="display:block;margin-left:30px;" class="m-header-text-color">{{selected_company_name}}</span>
    </div>
</header> -->
<div class="row no-margin-hr" style="margin-top:55px">
    <div class="col-sm-12 col-xs-12 no-padding-hr">
        <ul ng-repeat="location in locationsList" class="list-styles no-padding-hr">
            <li class="m-custom-content-border m-list-align-left-right">
                <span class="m-main-field" style="width:calc(100% - 45px);" ng-click="dashboardAction(location)">{{location.display_name}}</span>
                <a class="pull-right m-phoneNumber" ng-show="location.mobile" href="tel:{{location.mobile}}"><img src="images/call-icon.png" /></a>
                <span class="m-sub-field">{{location.mobile}}</span>
            </li>
        </ul>
    </div>
</div>
<div ng-show="loading" class="load text-center ">
    <img class="spinner " src="images/ajax-loader.gif " width="60" height="60 ">
    <h4 class="loading_msg ">Loading Please Wait...</h4>
</div>
<div class="alert alert-position-success" id="success-alert" style="display:none;">
    <strong>{{msg}}</strong>
</div>