<div id="mainpageContollerStart" class="container table_container balancesheetheadermove table-container-width no-padding-hr" ng-class="{'isSearchHeaderSectionHeightInVocherScreen':!isSearched}">
    <div class="row no-margin-hr">
        <div class="col-md-12 no-padding-hr">

            <div ng-if="(ledger_ltype == 'L' && ledgerIndividualLocationStatus == true) || (ledger_ltype == 'C' && corbltypeIndividualLocationStatus == true) || (ledger_ltype == 'B' && corbltypeIndividualLocationStatus == true)">
                <ul class="list-styles no-padding-hr" style="margin-bottom:2px;">
                    <li class="listheightvalues-voucher" style="background:#d3d3d3;">
                        <span class="text-name">{{props.ledger_name}} &#58;</span>
                        <span class="text-name-small">(From {{fromdate| date :  "dd/MM/yyyy"}} To {{today| date :  "dd/MM/yyyy"}})</span>
                        <span class="text-value">{{ledger_amt >= 0 ? ((ledger_amt | INRCurrency) + " Dr") : (((-1 * ledger_amt) | INRCurrency) + " Cr")}}</span>
                    </li>
                </ul>
                <ul ng-hide="!voucherdetails.length && vouchershowindividualstatus == true" class="list-styles no-padding-hr vouchertable" style="margin-bottom:2px;">
                    <li>
                        <table class="table-width">
                            <tr>
                                <th row-span="1" class="border-right-none" style="width:85px !important;">
                                    <span col-span="1">&nbsp;Date</span>
                                    <span col-span="1" class="pull-right" style=" padding-right:8px">Type</span>
                                    <div style="display:block;text-align:left; font-weight:bold; padding-right:8px">&nbsp;VNo</div>
                                </th>
                                <th class="border-right-none">
                                    <span row-span="1">&nbsp;Ledger</span><br>
                                    <span row-span="2">&nbsp;Ref No | Ref Date</span>
                                </th>
                                <th align="right" class="text-right border-left-none td-padding-right">Amount</th>
                            </tr>
                            <tr>
                                <td class="border-right-none"></td>
                                <td colspan="2"><span>Opening Balance as on {{fromdate| date : "dd/MM/yy"}}<span>
                                <p style="text-align:right;margin-right:5px;">{{obalance.ob_amt >= 0 ? ((obalance.ob_amt | INRCurrency) + " Dr") : (((-1 * obalance.ob_amt) | INRCurrency) + " Cr")}}</p>
                            </td>
                        </tr>
                        <tr ng-repeat-start="voucher in voucherdetails| orderBy:['trans_date', 'tx_type', 'doc_id', 'seq']" class="actionsmenu" ng-class=" {red:voucher.isverified==0 } " ng-click="vocherdetailsPageNavigation(voucher.v_id,voucher.tx_type) ">
                            <td colspan="1" rowspan="2" valign="top" class="tx-type-main border-right-none " style="max-width:85px !important;white-space:nowrap; text-overflow:ellipsis; overflow:hidden;">
                                <span col-span="1">{{voucher.trans_date| date : "dd/MM/yy"}}</span>
                                    <span col-span="1" class="pull-right" style="padding-right:8px;">{{voucher.tx_type}}</span><br>
                                    <div class="m-voucher-docid"> {{voucher.doc_id}}</div>
                                </td>
                                <td colspan="2" style="max-width:calc(100% - 95px) !important;" class="border-bottom-none td-padding-right">{{voucher.gl_name}}</td>
                            </tr>
                            <tr ng-class="{red:voucher.isverified==0 } " class="border-right-none actionsmenu" ng-repeat-end ng-click="vocherdetailsPageNavigation(voucher.v_id,voucher.tx_type) ">
                                <td colspan="2" style="max-width:calc(100% - 95px) !important;">
                                    <span class="voucher-refname td-padding-right" style="display:block;" ng-show="voucher.refno">Ref No: {{voucher.refno}}</span>
                                    <span class="voucher-refname td-padding-right" style="display:block;" ng-show="voucher.refdate">Ref Date: {{voucher.refdate| date: "dd/MM/yyyy"}}</span>
                                    <p style="margin-bottom:5px !important;" colspan="2" align="right" class="border-left-none td-padding-right">{{voucher.amount >= 0 ? ((voucher.amount | INRCurrency) + " Dr") : (((-1 * voucher.amount) | INRCurrency) + " Cr")}}</p>
                                </td>
                            </tr>
                            <tr class="border-right-none">
                                <td class="text-bold border-right-none">Total</td>
                                <td colspan="2" align="right" class="td-padding-right">{{balanceamount >= 0 ? ((balanceamount | INRCurrency) + " Dr") : (((-1 * balanceamount) | INRCurrency) + " Cr")}}</td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>

            <div ng-if="ledger_ltype == 'S' || (ledger_ltype == 'L' && ledgerAllLocationsStatus == true) || (ledger_ltype == 'C' && corbltypeAllLocationsStatus == true) || (ledger_ltype == 'B' && corbltypeAllLocationsStatus == true)">
                <ul ng-if="ledger_ltype == 'S'" class="list-styles no-padding-hr" style="margin-bottom:2px;">
                    <li class="listheightvalues-voucher" style="background:#d3d3d3;">
                        <div>
                            <span class="text-name" style="width:100% !important;">{{props.ltype_name}} &#58;</span>
                            <span class="text-name-small">(From {{fromdate| date :  "dd/MM/yyyy"}} To {{today| date :  "dd/MM/yyyy"}})</span>
                        </div>
                        <span class="text-value">{{ltype_amt >= 0 ? ((ltype_amt | INRCurrency) + " Dr") : (((-1 * ltype_amt) | INRCurrency) + " Cr")}}</span>
                    </li>
                </ul>
                <ul ng-if="ledger_ltype == 'L' || ledger_ltype == 'C' || ledger_ltype == 'B'" class="list-styles no-padding-hr" style="margin-bottom:2px;">
                    <li class="listheightvalues-voucher" style="background:#d3d3d3;">
                        <span class="text-name">{{props.ledger_name}} &#58;</span>
                        <span class="text-name-small">(From {{fromdate| date :  "dd/MM/yyyy"}} To {{today| date :  "dd/MM/yyyy"}})</span>
                        <span class="text-value">{{ledger_amt >= 0 ? ((ledger_amt | INRCurrency) + " Dr") : (((-1 * ledger_amt) | INRCurrency) + " Cr")}}</span>
                    </li>
                </ul>
                <ul ng-repeat="voucher in voucherdetails| orderBy:['location', 'gl_name']" class="list-styles no-padding-hr border-left-none border-right-none" style="margin-bottom:2px;">
                    <ul ng-if="ledger_ltype == 'S'" class="list-styles location-text-vocher-uls no-padding-hr" style="margin-bottom:2px;">
                        <li class="location-text-vocher " style="background:#d3d3d3;">
                            <span class="glname_text">Under {{voucher.gl_name}} - {{voucher.display_name}}</span>
                        </li>
                    </ul>
                    <ul ng-if="ledger_ltype == 'L' || ledger_ltype == 'C' || ledger_ltype == 'B'" class="list-styles no-padding-hr  location-text-vocher-uls  " style="margin-bottom:2px;">
                        <li class="location-text-vocher " style="background:#d3d3d3;">
                            <span class="glname_text">Under {{voucher.display_name}}</span>
                        </li>
                    </ul>
                    <ul class="list-styles no-padding-hr vouchertable" style="margin-bottom:2px;">
                        <li>
                            <table class="table-width table-border-voucher">
                                <tr class="default-background">
                                    <th row-span="1" class="border-right-none" style="width:85px !important;">
                                        <span col-span="1">&nbsp;Date</span>
                                        <span col-span="1" class="pull-right" style=" padding-right:8px">Type</span>
                                        <div style="display:block;text-align:left; font-weight:bold; padding-right:8px">&nbsp;VNo</div>
                                    </th>
                                    <th class="border-right-none">
                                        <span row-span="1">&nbsp;Ledger</span><br>
                                        <span row-span="2">&nbsp;Ref No | Ref Date</span>
                                    </th>
                                    <th align="right" class="text-right border-left-none td-padding-right">Amount</th>
                                </tr>
                                <tr>
                                    <td class="border-right-none"></td>
                                    <td colspan="2">
                                        <span>Opening Balance as on {{fromdate| date : "dd/MM/yy"}}</span>
                                        <p style="text-align:right;margin-right:5px;">{{voucher.ob_amount >= 0 ? ((voucher.ob_amount | INRCurrency) + " Dr") : (((-1 * voucher.ob_amount) | INRCurrency) + " Cr")}}</p>
                                    </td>
                                </tr>
                                <tr class="background actionsmenu" ng-repeat-start="vouchersubdetails in voucher.data| orderBy:['trans_date', 'tx_type', 'doc_id', 'seq']" ng-class="{red:vouchersubdetails.isverified == 0}" ng-click="vocherdetailsPageNavigation(vouchersubdetails.v_id,vouchersubdetails.tx_type)">
                                    <td colspan="1" rowspan="2" valign="top" class="tx-type-main border-right-none" style="max-width:85px !important;white-space:nowrap; text-overflow:ellipsis; overflow:hidden;">
                                        <span col-span="1">{{vouchersubdetails.trans_date| date : "dd/MM/yy"}}</span>
                                        <span col-span="1" class="pull-right" style="padding-right:8px;">{{vouchersubdetails.tx_type}}</span><br>
                                        <div class="m-voucher-docid"> {{vouchersubdetails.doc_id}}</div>
                                    </td>
                                    <td colspan="2" style="max-width:calc(100% - 95px) !important;" class="border-bottom-none td-padding-right">{{vouchersubdetails.gl_name}}</td>
                                </tr>
                                <tr ng-class="{red:vouchersubdetails.isverified == 0}" class="border-right-none actionsmenu" ng-click="vocherdetailsPageNavigation(vouchersubdetails.v_id,vouchersubdetails.tx_type)" ng-repeat-end>
                                    <td colspan="2" style="max-width:calc(100% - 95px) !important;">
                                        <span class="voucher-refname td-padding-right" style="display:block;" ng-show="vouchersubdetails.refno">Ref No: {{vouchersubdetails.refno}}</span>
                                        <span class="voucher-refname td-padding-right" style="display:block;" ng-show="vouchersubdetails.refdate">Ref Date: {{vouchersubdetails.refdate| date: "dd/MM/yyyy"}}</span>
                                        <p style="margin-bottom:5px !important;" align="right" class="td-padding-right border-left-none">{{vouchersubdetails.amount >= 0 ? ((vouchersubdetails.amount | INRCurrency) + " Dr") : (((-1 * vouchersubdetails.amount) | INRCurrency) + " Cr")}}</p>
                                    </td>
                                </tr>
                                <tr class=" border-right-none ">
                                    <td class="text-bold border-right-none">Total</td>
                                    <td colspan="2" align="right" class="td-padding-right">{{voucher.totalAmount >= 0 ? ((voucher.totalAmount | INRCurrency) + " Dr") : (((-1 * voucher.totalAmount) | INRCurrency) + " Cr")}}</td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                </ul>
            </div>

        </div>
    </div>
</div>
<div class="alert  alert-position-success" id="success-alert" style="display:none;">
    <strong>{{msg}}</strong>
</div>
<div ng-show="loading" class="load text-center ">
    <img class="spinner " src="images/ajax-loader.gif " width="60" height="60 ">
    <h4 class="loading_msg ">Loading Please Wait...</h4>
</div>