<div class="container">
    <div class="row row_center">
        <div class="col-md-12">
            <div class="col-md-4 col-md-offset-4">
                <div class="text-center">
                    <img style="margin-bottom:50px;margin-top:50px;margin-left:-8px;" src="images/portal-blue.png" />
                </div>
                <!-- <h3 class="text-center underline">MobiBooks</h3> -->
                <div ng-show="showerror" class="col-md-12 no-padding-hr">
                    <span style="color:#EF5F5F">{{errormessage}}</span>
                </div>
                <form name="ressetpasswordFrom" role="form" class="login_container">
                    <div class="row form-group no-margin-hr">
                        <div class="col-md-12 col-xs-12 col-sm-12 no-padding-hr">
                            <span class="astrick glyphicon glyphicon-asterisk resetpasswordAshtrick"></span>
                            <input type="text" class="form-control" name="otp" placeholder="Enter Otp" 
                            ng-model="user.otp" mobile-validation maxlength="6">
                        </div>
                    </div>
                    
                    <div class="col-md-12 col-xs-12 col-sm-12 no-padding-hr form-group" ng-show="otperror">
                        <span style="color:#EF5F5F">{{otperrormsg}}</span>
                        <!-- <span style="color:#EF5F5F" ng-show="ressetpasswordFrom.otp.$invalid && !ressetpasswordFrom.otp.$error.required">Please enter valid Otp</span> -->
                    </div>
                    
                    <div class="row form-group no-margin-hr">
                        <div class="col-md-12 col-xs-12 col-sm-12 no-padding-hr">
                            <span class="astrick glyphicon glyphicon-asterisk resetpasswordAshtrick"></span>
                            <input type="password" class="form-control" ng-model="user.pwd" 
                            name="password" id="password" placeholder="Enter password">
                        </div>
                    </div>
                  
                    <div class="col-md-12 col-xs-12 col-sm-12 no-padding-hr form-group" ng-show="passworderror">
                        <span style="color:#EF5F5F" >{{passworderrormsg}}</span>
                        <!-- <span style="color:#EF5F5F" ng-show="ressetpasswordFrom.password.$invalid && !ressetpasswordFrom.password.$error.required">Password should consists of atleaset one uppercase letter and one lowercase letter and one number</span> -->
                    </div>
                   
                    <div class="row form-group no-margin-hr">
                        <div class="col-md-12 col-xs-12 col-sm-12 no-padding-hr">
                            <span class="astrick glyphicon glyphicon-asterisk resetpasswordAshtrick"></span>
                            <input type="password" class="form-control" ng-model="user.confirm_password" 
                            name="confirmpassword" id="confirmpassword" placeholder="Enter confirm password" 
                             ng-change="editingfields()">
                        </div>
                    </div>
                    
                    <div class="col-md-12 col-xs-12 col-sm-12 no-padding-hr form-group" ng-show="confirmpassworderror">
                        <span style="color:#EF5F5F" >{{confirmpassworderrormsg}}</span>
                        <!-- <span style="color:#EF5F5F" ng-show="ressetpasswordFrom.confirmpassword.$invalid && !ressetpasswordFrom.confirmpassword.$error.required">Password should consists of atleaset one uppercase letter and one lowercase letter and one number</span> -->
                    </div>
                  
                    <div class="row form-group no-margin-hr">
                        <div class="col-md-12 text-center no-padding-hr">
                            <button type="submit" class="btn login-button background-defalt"  ng-click="resetpasswords()">Reset password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="alert  alert-position-success" id="success-alert" style="display:none;">
    <strong>{{msg}}</strong>
</div>
<div ng-show="loading" class="load text-center ">
    <img class="spinner " src="images/ajax-loader.gif " width="60" height="60 ">
    <h4 class="loading_msg ">Loading Please Wait...</h4>
</div>
