<div class="container">
    <div class="row row_center">
        <div class="col-md-12">
            <div class="col-md-4 col-md-offset-4">
                <div class="text-center">
                    <img style="margin-bottom:50px;margin-top:50px;margin-left:-8px;" src="images/portal-blue.png" />
                </div>
                <!-- <h3 class="text-center underline">MobiBooks</h3> -->
                <div ng-show="showerror" class="col-md-12 no-padding-hr">
                    <span style="color:#EF5F5F">{{errormessage}}</span>
                </div>
                <form name="ressetpasswordFrom" role="form" ng-submit="ressetpasswordFrom.$valid && false" novalidate class="login_container">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="text" class="form-control" name="otp" placeholder="Enter Otp" ng-model="user.otp" mobile-validation minlength="6" maxlength="6" required="required">
                        </div>
                    </div>
                    <div class="row" ng-show="ressetpasswordFrom.otp.$dirty && ressetpasswordFrom.otp.$error">
                        <div class="col-md-12 form-group" ng-show="ressetpasswordFrom.otp.$invalid">
                            <div class="col-md-12 no-padding-hr">
                                <span style="color:#EF5F5F" ng-show="ressetpasswordFrom.otp.$error.required">Please enter otp</span>
                                <span style="color:#EF5F5F" ng-show="ressetpasswordFrom.otp.$invalid && !ressetpasswordFrom.otp.$error.required">Please enter valid Otp</span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="password" class="form-control" ng-model="user.pwd" name="password" id="password" placeholder="Enter password" ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).*$/" required="required" ng-minlength="4" ng-change="editingfields()">
                        </div>
                    </div>
                    <div class="row" ng-show="ressetpasswordFrom.password.$dirty && ressetpasswordFrom.password.$error">
                        <div class="col-md-12 form-group" ng-show="ressetpasswordFrom.password.$invalid">
                            <div class="col-md-12 no-padding-hr">
                                <span style="color:#EF5F5F" ng-show="ressetpasswordFrom.password.$error.required">Please enter password</span>
                                <span style="color:#EF5F5F" ng-show="ressetpasswordFrom.password.$invalid && !ressetpasswordFrom.password.$error.required">Password should consists of atleaset one uppercase letter and one lowercase letter and one number</span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="password" class="form-control" ng-model="user.confirm_password" name="confirmpassword" id="confirmpassword" placeholder="Enter confirm password" ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).*$/" required="required" ng-minlength="4"
                                ng-change="editingfields()">
                        </div>
                    </div>
                    <div class="row" ng-show="ressetpasswordFrom.confirmpassword.$dirty && ressetpasswordFrom.confirmpassword.$error">
                        <div class="col-md-12 form-group" ng-show="ressetpasswordFrom.confirmpassword.$invalid">
                            <div class="col-md-12 no-padding-hr">
                                <span style="color:#EF5F5F" ng-show="ressetpasswordFrom.confirmpassword.$error.required">Please enter confirm password</span>
                                <span style="color:#EF5F5F" ng-show="ressetpasswordFrom.confirmpassword.$invalid && !ressetpasswordFrom.confirmpassword.$error.required">Password should consists of atleaset one uppercase letter and one lowercase letter and one number</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn login-button background-defalt" ng-click="resetpasswords()">Reset password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="alert  alert-position-success" id="success-alert" style="display:none;">
    <strong>{{msg}}</strong>
</div>
<div ng-show="loading" class="load text-center ">
    <img class="spinner " src="images/ajax-loader.gif " width="60" height="60 ">
    <h4 class="loading_msg ">Loading Please Wait...</h4>
</div>
