<div class="container table-container-width no-padding-hr">
    <div class="row no-margin-hr">
        <div style="margin-left:44px;">Search Results Macthing:"{{globalSearchData}}"</div>
        <div class="row no-margin-hr">
            <div class="pull-left"><img src="images/left-arrow.png" class="back-alignment" ng-click="backButtonAction()">
            </div>
            <div class="input-group">
                <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span> -->
                <input type="text" class="form-control" ng-model="globalSearchData" placeholder="Search" ng-change="searchboxchangeAction()">
                <span class=" input-group-btn "><button class="btn btn-default " ng-click="searchfunctionality()" type="button "><i class="glyphicon glyphicon glyphicon-search"></i></button></span>
            </div>
        </div>
        <div class="col-md-12 no-padding-hr" style="margin-top:7px;">
            <ul class="custom-content list-styles no-padding-hr">
                <li class="custom-content-border sub-listheightvalues" ng-repeat="item in searchdetails| orderBy: 'display_name'" ng-click="itemSearch(item.id, item.type, item.display_name, item.rootgroup_id)">
                    {{item.display_name}}
                </li>
            </ul>
            <button class="button button-calm" style="width: 100%" ng-show="LoadMoreButton" ng-click="showMoreResults()">
                Load More Results
               </button>
        </div>
    </div>
</div>
<div class="alert alert-position-success " id="success-alert " style="display:none; ">
    <strong>{{msg}}</strong>
</div>
<div ng-show="loading " class="load text-center ">
    <img class="spinner " src="images/ajax-loader.gif " width="60 " height="60 ">
    <h4 class="loading_msg ">Loading Please Wait...</h4>
</div>